.uploadedlist {
    margin: 20px;
    width: 90vw;

    tr {
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:first-child {
            background-color: #d0cdcd;
        }

        th {
            font-weight: bold;
        }
    }
}