.uploadedlist {
    margin: 20px;
    width: 90vw;

    tr {
        height: 30px;
        line-height: 30px;
        text-align: center;

        &:first-child {
            background-color: #d0cdcd;
        }

        &:last-child {
            height: 50px;
            line-height: 50px;
            font-weight: bold;
            border-top: 1px #e2e2e2 solid;
            td:first-child {
                text-align: right;
            }
        }

        th {
            font-weight: bold;
        }
    }
}