.uploadedlist {
    margin: 20px;
    width: calc(100vw - 40px);

    .row {
        background: #383737;
        border-radius: 10px;
        padding: 10px;
        color: #FFF;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        p {
            line-height: 20px;

            &:first-child {
                width: 250px;
            }

            + p {
                color: #f75e36;
                font-size: 0.8rem;
            }
        }

        button {
            background: none;
            color: inherit;
            border: 1px red solid;
            border-radius: 3px;
        }
        
        &.row-empty {
            justify-content: center;
            background: #e0e0e0;
            text-align: center;

             + p {
                color: #000;
                font-size: 1rem;
             }
        }

        &.row-end {
            background: none;

            p {
                color: #000;
    
                + p {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
    }


}